{%extends 'index.html' %}

{%block part-title %}
<!--    <div style="padding-top:15px; display:flex;  font-weight:bold;">-->
<!--        <div style="margin:2px; background:black; padding:3px 4px;">{{questions.first.category}}</div>-->
<!--        <div style="margin:2px; background:black; padding:3px 4px;">{{questions.first.batch}}</div>-->
<!--        <div style="margin:2px; background:black; padding:3px 4px;">{{questions.first.subject}}</div>-->
<!--    </div>-->
    <div style="padding-top:15px; font-weight:bold;" class="btm-sec">
       <div class="btm-sec-l">
          <a href="{%url 'part_questions' category.slug %}"> {{category}}</a>
           {% if batch %}
               {% if category.get_seasons_display != '' %}
                    <a href="#">{{category.get_seasons_display}}:{{batch}}</a>
               {% endif %}
           {%endif%}

           {%if subject %}
            <a href="#">{{subject}}</a>
           {%endif%}
      </div>
   </div>
{%endblock%}

{%block ls %}

    {%if subject %}

    {%elif batch %}
        {%for subject in batch_subjects %}
            <a href="{%url 'part_questions' subject.slug %}">
                <li>{{subject}}</li>
            </a>
        {% endfor %}

    {%else %}
        {% if category.get_seasons_display != '' %}
            {%for subject in batch_subjects %}
                <a href="{%url 'part_questions' subject.slug %}"> <li>{{subject}}</li> </a>
            {% endfor %}
        {% else %}
            {% for batch in category.batch_set.all %}
                <a href="{%url 'part_batch_ques' cate_slug=category.slug batch_slug=batch.slug %}"> <li>{{batch}}</li> </a>
            {% endfor %}
        {% endif %}

    {% endif %}
{%endblock%}