.questions{
    margin:4px;
}
a{
     text-decoration: none;
    color:white;
    }


.q-top{
    display:flex;
    justify-content: space-between;

}


 .ask-ques{
      padding: 10px 50px;
    margin-right:5px;
    margin-top:15px;
    margin-bottom:10px;
    background-color: #2980B9;
    /* padding: 5px 7px;
    padding-bottom: 0px; */
    text-align: center;
    border-radius:5px;
}

.ask-ques:hover{
    background-color: rgba(11, 11, 92, 0.425);
}



.cate-list li{
    margin:3px 0px;
    flex-direction: row-reverse;
    /* display:inline-block; */
    background-color: rgb(45, 51, 51);
    color: white;
    padding: 7px 13px;
    border-right: 0.25px white solid;
    border-left: 0.25px white solid;

}

.q-top .ask-ques:hover{
    color:white;
}

.cate-list{
    display:flex;
   flex-direction: row-reverse;
   list-style: none;
    margin:0;
    padding:0;


}



.cate-list li:hover{
    color: black;
    background-color: white;
}

.ques-box:hover .ques{
    color: rgb(28, 41, 156);
}

.ques-box:hover #asked-date{
    color: black;
    background-color:white;
}

.ques{
    font-weight:bold;
     margin-bottom:0;
     color:black;
}

.ques-list li{

   list-style: none;
}

.ques-box .ques{
    font-size: bold;
}


.ques-list .ques-vl{
    display:inline;
    padding: 2px 7px;
    color:black;
    border-style:groove;
}

.ques-list{
    margin:0;
    padding:0;
}

.ques-list .ques{
    padding: 7px 0px;
}

.ques-box #asked-date{
    background-color: rgba(11, 11, 92, 0.425);
}



.btm-sec{
    display: flex;
    justify-content: space-between;
}



.btm-sec .btm-sec-l a{
    display: inline-block;
    background-color:white;
    color:black;
    padding: 2px 5px;
    margin-top:5px;
}

.btm-sec  a:hover{
    background-color: rgba(11, 11, 92, 0.425);
    color:white;
}




@media only screen and (min-width: 650px) {
  .questions {
    margin: 2px 0%;
    margin-right: 2px;
  }
   .ask-ques{
        right:4%;

}

}




@media only screen and (max-width: 120px) {
  .questions {
    margin: 2px 120px;
    margin-right: 2px;
    background:green;

  }
   .ask-ques{
        right:4%;
        padding:10px;
}

