<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block head %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">

</head>
<body style="background-color: lightslategray;">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="dropdown">
                <img src="{%static 'drop-icon.png' %}" onclick="myFunction()" class="dropbtn icon-img">

                <div id="myDropdown" class="dropdown-content">
                    <a style="color:green;" href="{% url 'question_create' %}">Ask Question</a>
                    <a href="{% url 'categories' %}">Faculties</a>
                    {% if user.is_authenticated %}
                        <a href="#">Your Questions</a>
                        <a href="#">Your Answers</a>
                        <a href="{%url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{%url 'login' %}">Login</a>
                        <a href="{%url 'register' %}">Register</a>
                    {%endif%}
                </div>
            </div>
            <a href='{%url "index" %}'>QnA</a>
        </div>

        <form class="middle-side">
            <!-- <a href="#" class="my-ques">My Questions</a>
            <a href="#" class="my-ans">My Answers</a> -->
            <input class='search-box' type="text" placeholder="Search.." name="search">
            <button  type="submit"><i class="search-btn fa fa-search"></i></button>
        </form>
        <a class="navask-ques" href="{% url 'question_create' %}">Ask Question </a>
        <div class="right-side">


                {% if user.is_authenticated %}
                    <a class="profile" href="{% url 'profile' user %}">
                        <img style=" height:  40px; width: auto;"  src='{{user.profile.image.url}}' class="profile-img" alt="PP">
                    </a>
                {% else %}
                    <a class="profile" href="{% url 'login' %}">
                        <img style=" height:  40px; width: auto;"  src='{% static "unknown.png" %}' class="profile-img" alt="PP">
                    </a>
                {%endif%}
            <span class="tooltiptext">Tooltip text</span>
        </div>
    </div>

    <div style="margin-top:55px">


        <div class="container">
            {% if messages %}
            {%for message in messages%}
              <div style="margin-bottom:0px;" class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            {%endfor%}
        {%endif%}
            {% block content %} {% endblock %}
         </div>
    </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    {% block script %}  {%endblock%}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>
