{%extends 'base.html'%}
{% load static %}
{%block head%}
  <title>home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'posts/home.css' %}">
  <style>
      @media only screen and (min-width: 600px) {
          .questions {
            margin: 2px 15%;
          }
        }
  </style>
{%endblock%}

{%block content%}

  <div class="questions">
      {%block part-title %}  {%endblock%}
       <div class="q-top">

            <h2 style="color:blue;">Questions:</h2>
            <a   class="ask-ques"  href="{% url 'question_create' %}">Ask Question </a>
        </div>
      <ul class='cate-list'>
        {%for category in categories %}
          <a href="{%url 'part_questions' category.slug %}"> <li>{{category.faculty}}</li> </a>
        {% endfor %}
      </ul>
        <hr style="background-color:white;">

      <ul class='ques-list'>
          {%for question in questions %}
              <li>
                  <a class='ques-box' href="{%url 'question_detail' question.slug %}">
                      <div class="ques-vl" id="vote">{{question.upvotes.count}} votes</div>
                      <div class="ques-vl" id='answer'>{{question.answer_set.count}} answers</div>
                      <div class="ques-vl" id='asked-date'>{{question.created}}</div>
                      <h4 style="color:black;" class="ques">{{question.title|linebreaks}}</h4>
                  </a>
                   <div class="btm-sec">
                       <div class="btm-sec-l">
                          <a href="{%url 'part_questions' question.category.slug %}"> {{question.category.faculty}}</a>
                           {% if question.category.get_seasons_display != '' %}
                          <a href="#">{{question.category.get_seasons_display}}:{{question.batch}}</a>
                           {% endif %}
                          <a href="{%url 'part_questions' question.subject.slug %}">{{question.subject.name}}</a>
                      </div>
                       <div class="btm-sec-r">
                          asked by <a href="#" style="color: blue; font-size: large;">@{{question.user}}</a>
                       </div>
                   </div>
               </li>
            <hr style="background-color:white;">
          {%endfor%}

      </ul>
  </div>


{%endblock%}